/*FONT FACE*/
@font-face {
    font-family: 'champagne et limousine';
    src: url('../fonts/champagne/Champagne%20%26%20Limousines.ttf');
}

@font-face {
    font-family: 'bebas neue';
    src: url('../fonts/bebas/BebasNeue.otf');
}

/* top band */

.topband{
  font-family: "bebas neue";
}
.topband div div div h2{
  text-align: center;
}

.topband div div div h3{
  text-align: center;
}

nav{
  font-family: "bebas neue";
}

.col-sm-8 h3 strong{
  font-size: 30px;
}

/* BODY */

body{
  background-color: #eee;
  font-size: 20px;
  font-family: "champagne et limousine", "Comic Sans";
}

.col-sm-6 img {
	max-width: 100%;
	max-height: auto;
}
/*Parallax*/
.parallax-container {
    min-height: 400px;
    background: transparent;
}
/*CONTACT*/
iframe{

}

/* EQUIPE */


/*CABINET*/
