/*FONT FACE*/
@font-face {
    font-family: 'champagne et limousine';
    src: url('../fonts/champagne/Champagne%20%26%20Limousines.ttf');
}

@font-face {
    font-family: 'bebas neue';
    src: url('../fonts/bebas/BebasNeue.otf');
}

/* top band */

header h2 strong{
  color: #2E9AFE;
}

.topband{
  font-family: "bebas neue";
}
.topband div div div h2{
  text-align: center;
  font-size: 37px;
}

.topband div div div h3{
  text-align: center;
}

nav{
  font-family: "bebas neue";
}

.navbar-brand i{
  color: #2E9AFE;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
  color: #2E9AFE;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
  color: #2E9AFE;
}

.col-sm-8 h3 strong{
  font-size: 30px;
}

/* BODY */

body{
  background-color: #eee;
  font-size: 20px;
  font-family: "champagne et limousine", "Comic Sans";
}

.container{
  width: 80%;
  margin-left: 10%;
}

body p{
  font-size: 1.2em;
}

.pagetitle strong{
  color: #2E9AFE;
}

.col-sm-6 img {
	max-width: 100%;
	max-height: auto;
}
/*Parallax*/

.parallax-container {
    min-height: 400px;
    background: transparent;
}
/*CONTACT*/

.panel-body iframe{
  width: 100%;
}

/* EQUIPE */

.equipe a{
  text-decoration: none;
  color: #101010;
}

.equipe a:hover{
  color: #2E9AFE;
}

.equipe .col-sm-6{
  margin-top: 5%;
}


/*CABINET*/
